<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.placeholderimages</string>
	<key>connections</key>
	<dict>
		<key>006191F7-5310-4E84-961F-0E17C1ECA51A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6712CF15-BDC8-416B-A7E9-7DAEE6BF50E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1AD9896E-4CA3-4B2D-B3AC-8DDB85EEAD33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E5F6650-7592-4BAE-8B10-2087E4A00DFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FB3D1165-963D-4871-99FC-534A707AE3D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1DE2D24C-0DFA-498C-BB61-DCA20ACF9A34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B94F7535-1DFF-441F-9697-0BA67F874BA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>248C557D-3202-4200-9177-B87A7BAE1C3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7DA9E2C-AD6B-40DF-B97A-83005666723F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6712CF15-BDC8-416B-A7E9-7DAEE6BF50E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B94F7535-1DFF-441F-9697-0BA67F874BA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>823B0CC0-1005-4975-8957-469E9C1CF25C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DE2D24C-0DFA-498C-BB61-DCA20ACF9A34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A33F9830-DD0F-4297-9ED1-2DC1B91F8112</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>248C557D-3202-4200-9177-B87A7BAE1C3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>56E2FBFC-E24C-4DC1-969F-E1D629E72A55</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1AD9896E-4CA3-4B2D-B3AC-8DDB85EEAD33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7DA9E2C-AD6B-40DF-B97A-83005666723F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26B3CC99-38B4-4CE0-B045-D83756E66F08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DB9EAB06-4476-451B-8DBC-27C337882C6A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B94F7535-1DFF-441F-9697-0BA67F874BA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E99D0078-EB91-4A66-B54D-E1C29C095418</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E99D0078-EB91-4A66-B54D-E1C29C095418</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A33F9830-DD0F-4297-9ED1-2DC1B91F8112</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>56E2FBFC-E24C-4DC1-969F-E1D629E72A55</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1AD9896E-4CA3-4B2D-B3AC-8DDB85EEAD33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Get placeholder images for design and code</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Placeholder Images</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:kitten_keyword}</string>
				<key>subtext</key>
				<string>width {var:separator} height</string>
				<key>text</key>
				<string>Kitten Placeholder Image</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>823B0CC0-1005-4975-8957-469E9C1CF25C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>website</key>
					<string>https://placekitten.com</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1DE2D24C-0DFA-498C-BB61-DCA20ACF9A34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:website}/{var:split1}/{var:split2}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>248C557D-3202-4200-9177-B87A7BAE1C3A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>26B3CC99-38B4-4CE0-B045-D83756E66F08</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^\d+$</string>
						<key>outputlabel</key>
						<string>Is a number</string>
						<key>uid</key>
						<string>56E2FBFC-E24C-4DC1-969F-E1D629E72A55</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Not a number</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A33F9830-DD0F-4297-9ED1-2DC1B91F8112</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^\d+$</string>
						<key>outputlabel</key>
						<string>Is a number</string>
						<key>uid</key>
						<string>56E2FBFC-E24C-4DC1-969F-E1D629E72A55</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Not a number</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E99D0078-EB91-4A66-B54D-E1C29C095418</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:copy_url}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Copy URL</string>
						<key>uid</key>
						<string>DB9EAB06-4476-451B-8DBC-27C337882C6A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A7DA9E2C-AD6B-40DF-B97A-83005666723F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>{var:separator}</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>B94F7535-1DFF-441F-9697-0BA67F874BA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:bear_keyword}</string>
				<key>subtext</key>
				<string>width {var:separator} height</string>
				<key>text</key>
				<string>Bear Placeholder Image</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>006191F7-5310-4E84-961F-0E17C1ECA51A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>website</key>
					<string>https://placebear.com</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6712CF15-BDC8-416B-A7E9-7DAEE6BF50E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Got width “{var:split1}” and height “{var:split2}”</string>
				<key>title</key>
				<string>Width and height have to be numbers</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1AD9896E-4CA3-4B2D-B3AC-8DDB85EEAD33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>2E5F6650-7592-4BAE-8B10-2087E4A00DFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>FB3D1165-963D-4871-99FC-534A707AE3D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Open the URL to a placeholder image on [placekitten](https://placekitten.com/) via the `kitten` keyword. By default the width and height are separated by a comma, but you can change it in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).

![Keyword for a kitten placeholder](images/about/kitten.png)

Open an image from [placebear](https://placebear.com/) with the `bear` keyword.

![Keyword for a bear placeholder](images/about/bear.png)</string>
	<key>uidata</key>
	<dict>
		<key>006191F7-5310-4E84-961F-0E17C1ECA51A</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Start here to open a bear image</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>1AD9896E-4CA3-4B2D-B3AC-8DDB85EEAD33</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>A notification explains what went wrong</string>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>1DE2D24C-0DFA-498C-BB61-DCA20ACF9A34</key>
		<dict>
			<key>note</key>
			<string>Send dimensions as an argument and save website to a variable</string>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>248C557D-3202-4200-9177-B87A7BAE1C3A</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Open the desired placeholder website with the given image size</string>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>26B3CC99-38B4-4CE0-B045-D83756E66F08</key>
		<dict>
			<key>note</key>
			<string>Copy the URL</string>
			<key>xpos</key>
			<real>1110</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>2E5F6650-7592-4BAE-8B10-2087E4A00DFA</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>A sounds makes it clear there was an error</string>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>6712CF15-BDC8-416B-A7E9-7DAEE6BF50E1</key>
		<dict>
			<key>note</key>
			<string>Send dimensions as an argument and save website to a variable</string>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>823B0CC0-1005-4975-8957-469E9C1CF25C</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Start here to open a kitten image</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>A33F9830-DD0F-4297-9ED1-2DC1B91F8112</key>
		<dict>
			<key>note</key>
			<string>Verify that height is a number</string>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>A7DA9E2C-AD6B-40DF-B97A-83005666723F</key>
		<dict>
			<key>note</key>
			<string>Only continue if the option to copy is set in the configuration, passing along the result from the Open URL</string>
			<key>xpos</key>
			<real>1005</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>B94F7535-1DFF-441F-9697-0BA67F874BA1</key>
		<dict>
			<key>note</key>
			<string>Split the input by the chosen separator into variables</string>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>E99D0078-EB91-4A66-B54D-E1C29C095418</key>
		<dict>
			<key>note</key>
			<string>Verify that width is a number</string>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>FB3D1165-963D-4871-99FC-534A707AE3D1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Sending information to the debugger helps to find problems</string>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>kitten</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Kitten Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>kitten_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>bear</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keywords for each placeholder type.</string>
			<key>label</key>
			<string>Bear Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>bear_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>,</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Comma</string>
						<string>,</string>
					</array>
					<array>
						<string>Space</string>
						<string></string>
					</array>
					<array>
						<string>×</string>
						<string>x</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Character to separate the width input from the height.</string>
			<key>label</key>
			<string>Separator</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>separator</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Copy URL after opening</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Clipboard</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>copy_url</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2023.1</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/placeholder-images-workflow/</string>
</dict>
</plist>
